In [1]:
import pandas as pd
import csv

df_train = pd.read_csv('./data/act_train.csv')

# date column에서 int 형식만 남기는 작업
def datetime_str_converter(data):
    
    datetime = list(data['date'])
    year_list, month_list, day_list = [], [], []
    for item in datetime:
        year_list.append(item[:4])
        month_list.append(item[5:7])
        day_list.append(item[8:10])

    return year_list, month_list, day_list

# train dataset에 함수 적용
year_list, month_list, day_list = datetime_str_converter(df_train)
date_list = []
for year, month, day in zip(year_list, month_list, day_list):
    date_list.append(int(year + month + day))
    
df_train['act_date'] = date_list
del df_train['date']

In [3]:
df_train

,people_id,activity_id,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome,act_date
0,ppl_100,act2_1734928,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0,20230826
1,ppl_100,act2_2434093,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0,20220927
2,ppl_100,act2_3404049,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0,20220927
3,ppl_100,act2_3651215,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0,20230804
4,ppl_100,act2_4109017,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0,20230826
5,ppl_100,act2_898576,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0,20230804
6,ppl_100002,act2_1233489,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20221123
7,ppl_100002,act2_1623405,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20221123
8,ppl_100003,act2_1111598,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230207
9,ppl_100003,act2_1177453,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230628
10,ppl_100003,act2_133509,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 894,1,20220810
11,ppl_100003,act2_1408475,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1,20230302
12,ppl_100003,act2_1610829,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20220913
13,ppl_100003,act2_1688731,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 297,1,20230210
14,ppl_100003,act2_1961720,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 269,1,20230628
15,ppl_100003,act2_1988351,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20220823
16,ppl_100003,act2_2198176,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20220816
17,ppl_100003,act2_2437661,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230202
18,ppl_100003,act2_2476911,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230302
19,ppl_100003,act2_2557270,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 230,1,20220830
20,ppl_100003,act2_2581989,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230221
21,ppl_100003,act2_3116385,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230215
22,ppl_100003,act2_3159712,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20220830
23,ppl_100003,act2_3292005,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230503
24,ppl_100003,act2_3461867,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230802
25,ppl_100003,act2_3468306,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1,20230302
26,ppl_100003,act2_3867292,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230210
27,ppl_100003,act2_3990676,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 276,1,20230830
28,ppl_100003,act2_4102292,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230830
29,ppl_100003,act2_4160587,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,ppl_99994,act2_2053669,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230119
2197262,ppl_99994,act2_2053762,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1,20230616
2197263,ppl_99994,act2_2134893,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1396,1,20230823
2197264,ppl_99994,act2_2139237,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230627
2197265,ppl_99994,act2_2233766,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230628
2197266,ppl_99994,act2_2499779,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 61,1,20230219
2197267,ppl_99994,act2_2514377,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230615
2197268,ppl_99994,act2_2537795,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230112
2197269,ppl_99994,act2_2582736,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230616
2197270,ppl_99994,act2_2674371,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230616
2197271,ppl_99994,act2_2808953,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230502
2197272,ppl_99994,act2_2840212,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,1,20230825
2197273,ppl_99994,act2_2992386,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1,20230615
2197274,ppl_99994,act2_3177773,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1,20230615
2197275,ppl_99994,act2_3284072,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230714
2197276,ppl_99994,act2_3373847,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230216
2197277,ppl_99994,act2_3534467,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230817
2197278,ppl_99994,act2_3903321,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1,20230616
2197279,ppl_99994,act2_4024188,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 520,1,20230112
2197280,ppl_99994,act2_4355021,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 602,1,20230223
2197281,ppl_99994,act2_4433480,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230124
2197282,ppl_99994,act2_4440524,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 759,1,20230817
2197283,ppl_99994,act2_4473896,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1,20230615
2197284,ppl_99994,act2_4479985,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 142,1,20230714
2197285,ppl_99994,act2_4581579,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230113
2197286,ppl_99994,act2_4668076,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1,20230616
2197287,ppl_99994,act2_4743548,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1832,1,20230330
2197288,ppl_99994,act2_536973,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230119
2197289,ppl_99994,act2_688656,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 199,1,20230502
2197290,ppl_99994,act2_715089,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1,20230615

In [7]:
df_train_use = df_train[['people_id', 'activity_id', 'act_date', 'activity_category', 'char_10', 'outcome']]

df_train_use

,people_id,activity_id,act_date,activity_category,char_10,outcome
0,ppl_100,act2_1734928,20230826,type 4,type 76,0
1,ppl_100,act2_2434093,20220927,type 2,type 1,0
2,ppl_100,act2_3404049,20220927,type 2,type 1,0
3,ppl_100,act2_3651215,20230804,type 2,type 1,0
4,ppl_100,act2_4109017,20230826,type 2,type 1,0
5,ppl_100,act2_898576,20230804,type 4,type 1727,0
6,ppl_100002,act2_1233489,20221123,type 2,type 1,1
7,ppl_100002,act2_1623405,20221123,type 2,type 1,1
8,ppl_100003,act2_1111598,20230207,type 2,type 1,1
9,ppl_100003,act2_1177453,20230628,type 2,type 1,1
10,ppl_100003,act2_133509,20220810,type 4,type 894,1
11,ppl_100003,act2_1408475,20230302,type 4,type 143,1
12,ppl_100003,act2_1610829,20220913,type 2,type 1,1
13,ppl_100003,act2_1688731,20230210,type 4,type 297,1
14,ppl_100003,act2_1961720,20230628,type 4,type 269,1
15,ppl_100003,act2_1988351,20220823,type 2,type 1,1
16,ppl_100003,act2_2198176,20220816,type 2,type 1,1
17,ppl_100003,act2_2437661,20230202,type 2,type 1,1
18,ppl_100003,act2_2476911,20230302,type 2,type 1,1
19,ppl_100003,act2_2557270,20220830,type 4,type 230,1
20,ppl_100003,act2_2581989,20230221,type 2,type 1,1
21,ppl_100003,act2_3116385,20230215,type 2,type 1,1
22,ppl_100003,act2_3159712,20220830,type 2,type 1,1
23,ppl_100003,act2_3292005,20230503,type 2,type 1,1
24,ppl_100003,act2_3461867,20230802,type 2,type 1,1
25,ppl_100003,act2_3468306,20230302,type 4,type 143,1
26,ppl_100003,act2_3867292,20230210,type 2,type 1,1
27,ppl_100003,act2_3990676,20230830,type 4,type 276,1
28,ppl_100003,act2_4102292,20230830,type 2,type 1,1
29,ppl_100003,act2_4160587,20230221,type 2,type 1,1
...,...,...,...,...,...,...
2197261,ppl_99994,act2_2053669,20230119,type 2,type 1,1
2197262,ppl_99994,act2_2053762,20230616,type 4,type 418,1
2197263,ppl_99994,act2_2134893,20230823,type 4,type 1396,1
2197264,ppl_99994,act2_2139237,20230627,type 2,type 1,1
2197265,ppl_99994,act2_2233766,20230628,type 2,type 1,1
2197266,ppl_99994,act2_2499779,20230219,type 3,type 61,1
2197267,ppl_99994,act2_2514377,20230615,type 2,type 1,1
2197268,ppl_99994,act2_2537795,20230112,type 2,type 1,1
2197269,ppl_99994,act2_2582736,20230616,type 2,type 1,1
2197270,ppl_99994,act2_2674371,20230616,type 2,type 1,1
2197271,ppl_99994,act2_2808953,20230502,type 2,type 1,1
2197272,ppl_99994,act2_2840212,20230825,type 4,type 76,1
2197273,ppl_99994,act2_2992386,20230615,type 4,type 201,1
2197274,ppl_99994,act2_3177773,20230615,type 4,type 201,1
2197275,ppl_99994,act2_3284072,20230714,type 2,type 1,1
2197276,ppl_99994,act2_3373847,20230216,type 2,type 1,1
2197277,ppl_99994,act2_3534467,20230817,type 2,type 1,1
2197278,ppl_99994,act2_3903321,20230616,type 4,type 418,1
2197279,ppl_99994,act2_4024188,20230112,type 4,type 520,1
2197280,ppl_99994,act2_4355021,20230223,type 4,type 602,1
2197281,ppl_99994,act2_4433480,20230124,type 2,type 1,1
2197282,ppl_99994,act2_4440524,20230817,type 4,type 759,1
2197283,ppl_99994,act2_4473896,20230615,type 4,type 418,1
2197284,ppl_99994,act2_4479985,20230714,type 4,type 142,1
2197285,ppl_99994,act2_4581579,20230113,type 2,type 1,1
2197286,ppl_99994,act2_4668076,20230616,type 4,type 418,1
2197287,ppl_99994,act2_4743548,20230330,type 4,type 1832,1
2197288,ppl_99994,act2_536973,20230119,type 2,type 1,1
2197289,ppl_99994,act2_688656,20230502,type 4,type 199,1
2197290,ppl_99994,act2_715089,20230615,type 2,type 1,1

In [8]:
df_train_use.isnull().sum()

people_id                 0
activity_id               0
act_date                  0
activity_category         0
char_10              157615
outcome                   0
dtype: int64

In [15]:
df_train_use['char_10'].fillna('NaN', inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [16]:
df_train_use.isnull().sum()

people_id            0
activity_id          0
act_date             0
activity_category    0
char_10              0
outcome              0
dtype: int64

In [17]:
df_train_use

,people_id,activity_id,act_date,activity_category,char_10,outcome
0,ppl_100,act2_1734928,20230826,type 4,type 76,0
1,ppl_100,act2_2434093,20220927,type 2,type 1,0
2,ppl_100,act2_3404049,20220927,type 2,type 1,0
3,ppl_100,act2_3651215,20230804,type 2,type 1,0
4,ppl_100,act2_4109017,20230826,type 2,type 1,0
5,ppl_100,act2_898576,20230804,type 4,type 1727,0
6,ppl_100002,act2_1233489,20221123,type 2,type 1,1
7,ppl_100002,act2_1623405,20221123,type 2,type 1,1
8,ppl_100003,act2_1111598,20230207,type 2,type 1,1
9,ppl_100003,act2_1177453,20230628,type 2,type 1,1
10,ppl_100003,act2_133509,20220810,type 4,type 894,1
11,ppl_100003,act2_1408475,20230302,type 4,type 143,1
12,ppl_100003,act2_1610829,20220913,type 2,type 1,1
13,ppl_100003,act2_1688731,20230210,type 4,type 297,1
14,ppl_100003,act2_1961720,20230628,type 4,type 269,1
15,ppl_100003,act2_1988351,20220823,type 2,type 1,1
16,ppl_100003,act2_2198176,20220816,type 2,type 1,1
17,ppl_100003,act2_2437661,20230202,type 2,type 1,1
18,ppl_100003,act2_2476911,20230302,type 2,type 1,1
19,ppl_100003,act2_2557270,20220830,type 4,type 230,1
20,ppl_100003,act2_2581989,20230221,type 2,type 1,1
21,ppl_100003,act2_3116385,20230215,type 2,type 1,1
22,ppl_100003,act2_3159712,20220830,type 2,type 1,1
23,ppl_100003,act2_3292005,20230503,type 2,type 1,1
24,ppl_100003,act2_3461867,20230802,type 2,type 1,1
25,ppl_100003,act2_3468306,20230302,type 4,type 143,1
26,ppl_100003,act2_3867292,20230210,type 2,type 1,1
27,ppl_100003,act2_3990676,20230830,type 4,type 276,1
28,ppl_100003,act2_4102292,20230830,type 2,type 1,1
29,ppl_100003,act2_4160587,20230221,type 2,type 1,1
...,...,...,...,...,...,...
2197261,ppl_99994,act2_2053669,20230119,type 2,type 1,1
2197262,ppl_99994,act2_2053762,20230616,type 4,type 418,1
2197263,ppl_99994,act2_2134893,20230823,type 4,type 1396,1
2197264,ppl_99994,act2_2139237,20230627,type 2,type 1,1
2197265,ppl_99994,act2_2233766,20230628,type 2,type 1,1
2197266,ppl_99994,act2_2499779,20230219,type 3,type 61,1
2197267,ppl_99994,act2_2514377,20230615,type 2,type 1,1
2197268,ppl_99994,act2_2537795,20230112,type 2,type 1,1
2197269,ppl_99994,act2_2582736,20230616,type 2,type 1,1
2197270,ppl_99994,act2_2674371,20230616,type 2,type 1,1
2197271,ppl_99994,act2_2808953,20230502,type 2,type 1,1
2197272,ppl_99994,act2_2840212,20230825,type 4,type 76,1
2197273,ppl_99994,act2_2992386,20230615,type 4,type 201,1
2197274,ppl_99994,act2_3177773,20230615,type 4,type 201,1
2197275,ppl_99994,act2_3284072,20230714,type 2,type 1,1
2197276,ppl_99994,act2_3373847,20230216,type 2,type 1,1
2197277,ppl_99994,act2_3534467,20230817,type 2,type 1,1
2197278,ppl_99994,act2_3903321,20230616,type 4,type 418,1
2197279,ppl_99994,act2_4024188,20230112,type 4,type 520,1
2197280,ppl_99994,act2_4355021,20230223,type 4,type 602,1
2197281,ppl_99994,act2_4433480,20230124,type 2,type 1,1
2197282,ppl_99994,act2_4440524,20230817,type 4,type 759,1
2197283,ppl_99994,act2_4473896,20230615,type 4,type 418,1
2197284,ppl_99994,act2_4479985,20230714,type 4,type 142,1
2197285,ppl_99994,act2_4581579,20230113,type 2,type 1,1
2197286,ppl_99994,act2_4668076,20230616,type 4,type 418,1
2197287,ppl_99994,act2_4743548,20230330,type 4,type 1832,1
2197288,ppl_99994,act2_536973,20230119,type 2,type 1,1
2197289,ppl_99994,act2_688656,20230502,type 4,type 199,1
2197290,ppl_99994,act2_715089,20230615,type 2,type 1,1